@page "/"
@attribute [Authorize]

<PageTitle>PKU - Strona glowna</PageTitle>

<h1>PKU - Platforma skladania oswiadczen</h1>

<p>Witamy w systemie PKU do skladania oswiadczen dla rozliczen oplat przesylowych i pozaprzesylowych.</p>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Administracja</h5>
                <p class="card-text">Zarzadzanie uzytkownikami, wzorcami oswiadczen i terminarzami.</p>
                <a href="admin/uzytkownicy" class="btn btn-primary">Przejdz</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">PKU Rozliczenia</h5>
                <p class="card-text">Dashboard oswiadczen, terminarz rozliczen i oswiadczenia rozliczeniowe.</p>
                <a href="rozliczenia/dashboard" class="btn btn-primary">Przejdz</a>
            </div>
        </div>
    </div>
</div>
