<AuthorizeView>
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">PKU - Platforma Oswiadczen</a>
            </div>
        </div>

        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <nav class="nav flex-column">

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Strona glowna
                    </NavLink>
                </div>

                <AuthorizeView Roles="Administrator">
                    <Authorized Context="adminCtx">
                        <div class="nav-section px-3">
                            <span class="nav-section-title">Administracja</span>
                        </div>

                        <div class="nav-item px-3 nav-sub-item">
                            <NavLink class="nav-link" href="admin/users">
                                <span class="bi bi-people-nav-menu" aria-hidden="true"></span> Uzytkownicy
                            </NavLink>
                        </div>

                        <div class="nav-item px-3 nav-sub-item">
                            <NavLink class="nav-link" href="admin/declaration-templates">
                                <span class="bi bi-file-text-nav-menu" aria-hidden="true"></span> Wzorce oswiadczen
                            </NavLink>
                        </div>

                        <div class="nav-item px-3 nav-sub-item">
                            <NavLink class="nav-link" href="admin/schedules">
                                <span class="bi bi-calendar-nav-menu" aria-hidden="true"></span> Definiowanie terminarzy
                            </NavLink>
                        </div>

                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Kontrahent,Administrator">
                    <Authorized Context="rozliczeniaCtx">
                        <div class="nav-section px-3">
                            <span class="nav-section-title">PKU Rozliczenia</span>
                        </div>

                        <div class="nav-item px-3 nav-sub-item">
                            <NavLink class="nav-link" href="rozliczenia/dashboard">
                                <span class="bi bi-grid-nav-menu" aria-hidden="true"></span> Dashboard oswiadczen
                            </NavLink>
                        </div>

                        <div class="nav-item px-3 nav-sub-item">
                            <NavLink class="nav-link" href="rozliczenia/schedule">
                                <span class="bi bi-calendar-check-nav-menu" aria-hidden="true"></span> Terminarz rozliczen
                            </NavLink>
                        </div>

                        <div class="nav-item px-3 nav-sub-item">
                            <NavLink class="nav-link" href="rozliczenia/declarations">
                                <span class="bi bi-journal-nav-menu" aria-hidden="true"></span> Oswiadczenia rozliczeniowe
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

            </nav>
        </div>
    </Authorized>
</AuthorizeView>
